@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Source+Serif+Pro:ital,wght@0,300;0,400;0,600;0,700;1,200&display=swap");
:root {
  --transition: all 300ms ease-in-out;
  --dark-color: #332e29;
  --light-color: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Serif-Pro", sans-serif;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--dark-color);
}
h1,
h2,
h3 {
  margin-top: 0;
  line-height: 1.3;
  margin-bottom: 2rem;
  color: var(--dark-color);
}
.py-7 {
  padding: 0.5rem 0;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
#header .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2.5rem 1.25rem 0 1.25rem;
}
.header-content .title {
  width: 100%;
  padding-bottom: 50px;
}
.header-content .title h3 {
  font-size: 3rem;
  padding-bottom: 10px;
  font-weight: bolder;
  border-bottom: 3px solid #222;
}
.container .images-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container .images-content .images {
  display: flex;
  flex-direction: column;
  width: 32.5%;
  padding: 0.5rem;
}
.container .images-content .images img {
  width: 100%;
  padding-bottom: 1rem;
  border-radius: 0.8rem;
}
#footer {
  background-color: var(--dark-color);
  color: var(--light-color);
}
.footer-content {
  text-align: center;
}
.footer-content h3 {
  text-align: center;
  color: var(--light-color);
  font-size: 2.5rem;
  letter-spacing: 1px;
}
.footer-content ul {
  flex-direction: column;
}
.footer-content ul li a {
  color: var(--light-color);
  font-size: 1.5rem;
  transition: var(--transition);
}
.footer-content ul li a:hover {
  opacity: 0.7;
}
.footer-content ul li {
  margin: 0.5rem 1rem;
}
.footer-content > div:first-child {
  margin-bottom: 3rem;
}
.footer-content > div:first-child div {
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin: 5rem auto;
  border-radius: 50%;
}

/* Media quieres (compatibility za drugi ustroistva) */
@media only screen and (max-width: 768px) {
  .container .images-content {
    flex-direction: column;
  }
  .container .images-content .images {
    width: 100%;
    padding: 0.5rem;
  }
}
@media (min-width: 576px) {
  .container header-content {
    width: 100%;
  }
  .container header-content h3 {
    font-size: 1rem;
  }
}
