* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sans-serif", sans-serif;
}
#header .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2.5rem 1.25rem 0 1.25rem;
}
.header-content .title {
  width: 100%;
  padding-bottom: 50px;
}
.header-content .title h3 {
  font-size: 3rem;
  padding-bottom: 10px;
  font-weight: bolder;
  border-bottom: 3px solid #222;
}
.container .images-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container .images-content .images {
  display: flex;
  flex-direction: column;
  width: 32.5%;
}
.container .images-content .images img {
  width: 100%;
  padding-bottom: 1rem;
  border-radius: 0.8rem;
}

/* Media quieres (compatibility za drugi ustroistva) */
@media only screen and (max-width: 768px) {
  .container .images-content {
    flex-direction: column;
  }
  .container .images-content .images {
    width: 100%;
    padding: 0.5rem;
  }
}
@media (min-width: 576px) {
  .container header-content {
    width: 100%;
  }
  .container header-content h3 {
    font-size: 1rem;
  }
}
